<form (ngSubmit)="save()">
  <table>
    <tr>
      <td>Code du mat&eacute;riel</td>
      <td>
        <input type="number" readonly="readonly" [(ngModel)]="materiel.cout" name="cout" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Choisir un mat&eacute;riel</td>
      <select name="materiel" id="materiel">
        <option value="salle">Salle</option>
        <option value="ordinateur">Ordinateur</option>
        <option value="videoprojecteur">Video-Projecteur</option>
      </select>
    </tr>
    <tr *ngIf="materiel.type == 'ordinateur' || materiel.option == 'ordinateur' ">
      <td>Co&ucirc;t du mat&eacute;riel</td>
      <td>
        <input type="number" [(ngModel)]="materiel.cout" required name="materiel.cout" #materielCoutControl="ngModel" />
      </td>
      <td>
        <div *ngIf="materielCoutControl.dirty&&materielCoutControl.invalid">Co&ucirc;t Obligatoire
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button class="btn btn-info" type="submit">Ajouter</button>
        <button class="btn btn-warning" (click)="reset()">Annuler</button>
      </td>
    </tr>
  </table>
</form>