
\.metadata/\.lock

\.metadata/\.log

\.metadata/\.mylyn/repositories\.xml\.zip

\.metadata/\.plugins/com\.genuitec\.eclipse\.dashboard\.common/news\.rss

\.metadata/\.plugins/com\.genuitec\.eclipse\.monitor/myeclipse-usage\.properties

\.metadata/\.plugins/com\.genuitec\.eclipse\.ui\.common\.platform/splash-fix\.css

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/14/00c8d0d4236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/18/50e895d1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/1d/30478ed1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/37/d08aafd1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/42/405093d1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/4d/8039a2d0236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/55/5016b8d1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/63/002595d1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/6d/500098d0236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/6e/60f975d0236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/75/40663be6236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/77/90746fd1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/8b/80e69ad0236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/90/b06194d1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/9d/807b91d1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/a0/605ca4d0236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/a1/e023a3d0236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/bf/b07f8fd1236b001814b7e11699c44f22

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/FinalBootMVC/\.indexes/af/history\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/FinalBootMVC/\.indexes/properties\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/FinalBootMVC/\.markers\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/FinalBootMVC/\.syncinfo\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/FinalBootMVC/org\.eclipse\.egit\.core/GitProjectData\.properties

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.indexes/properties\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.markers\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.syncinfo\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/org\.eclipse\.egit\.core/GitProjectData\.properties

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/properties\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.markers\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.safetable/org\.eclipse\.core\.resources

\.metadata/\.plugins/org\.eclipse\.core\.resources/0\.snap

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/com\.genuitec\.eclipse\.modernweb\.angular2\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/com\.genuitec\.eclipse\.monitor\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/com\.genuitec\.eclipse\.webclipse\.dashboard\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/com\.genuitec\.eclipse\.webclipse\.localserver\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.core\.resources\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.e4\.ui\.css\.swt\.theme\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.e4\.ui\.workbench\.renderers\.swt\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.egit\.core\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.epp\.logging\.aeri\.ide\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.jdt\.core\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.jdt\.launching\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.jdt\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.jst\.j2ee\.webservice\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.context\.core\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.monitor\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.tasks\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.rse\.core\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.rse\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.workbench\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.wst\.jsdt\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.springframework\.ide\.eclipse\.imports\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.springsource\.ide\.eclipse\.commons\.core\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.springsource\.ide\.eclipse\.commons\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.springsource\.ide\.eclipse\.dashboard\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.e4\.workbench/workbench\.xmi

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.fdt

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.fdx

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.fnm

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.frq

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.nrm

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.tii

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.tis

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/segments_1

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/segments\.gen

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/write\.lock

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.fdt

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.fdx

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.fnm

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.frq

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.nrm

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.tii

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.tis

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/segments_1

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/segments\.gen

\.metadata/\.plugins/org\.eclipse\.jdt\.core/3314457750\.index

\.metadata/\.plugins/org\.eclipse\.jdt\.core/externalLibsTimeStamps

\.metadata/\.plugins/org\.eclipse\.jdt\.core/javaLikeNames\.txt

\.metadata/\.plugins/org\.eclipse\.jdt\.core/savedIndexNames\.txt

\.metadata/\.plugins/org\.eclipse\.jdt\.core/variablesAndContainers\.dat

\.metadata/\.plugins/org\.eclipse\.jdt\.launching/\.install\.xml

\.metadata/\.plugins/org\.eclipse\.jdt\.launching/libraryInfos\.xml

\.metadata/\.plugins/org\.eclipse\.jst\.j2ee\.web/webLibrariesCache\.index

\.metadata/\.plugins/org\.eclipse\.jst\.j2ee/earLibrariesCache\.index

\.metadata/\.plugins/org\.eclipse\.m2e\.core/FinalBootMVC\.lifecyclemapping

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_5

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/ffc8b1c64e8f0f7d8de8689d9dea8966/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/ffc8b1c64e8f0f7d8de8689d9dea8966/_1\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/ffc8b1c64e8f0f7d8de8689d9dea8966/_2\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/ffc8b1c64e8f0f7d8de8689d9dea8966/segments_4

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/ffc8b1c64e8f0f7d8de8689d9dea8966/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/ffc8b1c64e8f0f7d8de8689d9dea8966/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/workspacestate\.properties

\.metadata/\.plugins/org\.eclipse\.m2e\.jdt/FinalBootMVC\.container

\.metadata/\.plugins/org\.eclipse\.m2e\.logback\.configuration/0\.log

\.metadata/\.plugins/org\.eclipse\.m2e\.logback\.configuration/logback\.1\.7\.0\.20160603-1933\.xml

\.metadata/\.plugins/org\.eclipse\.oomph\.setup/workspace\.setup

\.metadata/\.plugins/org\.eclipse\.rse\.core/\.log

\.metadata/\.plugins/org\.eclipse\.rse\.core/initializerMarks/org\.eclipse\.rse\.internal\.core\.RSELocalConnectionInitializer\.mark

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.admin-pc_3/FP\.local\.files_0/node\.properties

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.admin-pc_3/H\.local_16/node\.properties

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.admin-pc_3/node\.properties

\.metadata/\.plugins/org\.eclipse\.rse\.ui/\.log

\.metadata/\.plugins/org\.eclipse\.tm\.terminal\.view\.ui/\.executables/data\.properties

\.metadata/\.plugins/org\.eclipse\.ui\.workbench/workingsets\.xml

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/indexes/3314457750\.index

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/indexes/savedIndexNames\.txt

\.metadata/\.plugins/org\.eclipse\.wst\.sse\.core/task-tags\.properties

\.metadata/\.plugins/org\.eclipse\.wst\.xml\.core/default_catalog\.xml

\.metadata/\.plugins/org\.eclipse\.wst\.xml\.core/system_catalog\.xml

\.metadata/\.plugins/org\.springsource\.ide\.eclipse\.dashboard\.ui/feeds/dashboard\.feeds\.blogs/-549550714\.xml

\.metadata/\.plugins/org\.springsource\.ide\.eclipse\.dashboard\.ui/feeds/dashboard\.feeds\.update/623127801\.xml

\.metadata/\.plugins/tern\.eclipse\.ide\.core/FinalBootMVC\.tern-project

\.metadata/com\.genuitec\.eclipse\.webclipse\.livepreview/version\.txt

\.metadata/version\.ini

FinalBootMVC/\.mvn/wrapper/maven-wrapper\.jar

FinalBootMVC/\.mvn/wrapper/maven-wrapper\.properties

RemoteSystemsTempFiles/\.project

\.metadata/
