<h1>Affichage du mat&eacute;riel</h1>
<br>
<br>
<div>
  <table>
    <legend>Ordinateurs</legend>
    <tr>
      <th>Code</th>
      <th>Co&ucirc;t</th>
      <th>Processeur</th>
      <th>Capacité Disque dur</th>
      <th>M&eacute;moire vive</th>
      <th>Ann&eacute;e d'achat</th>
      <th></th>
    </tr>
    <tr *ngFor="let m of listeMateriel">
      <td *ngIf="m.type == 'ordinateur'">{{m.code}}</td>
      <td *ngIf="m.type == 'ordinateur'">{{m.cout}}</td>
      <td *ngIf="m.type == 'ordinateur'">{{m.processeur}}</td>
      <td *ngIf="m.type == 'ordinateur'">{{m.hdd}} Go</td>
      <td *ngIf="m.type == 'ordinateur'">{{m.ram}} Go</td>
      <td *ngIf="m.type == 'ordinateur'">{{m.anneeAchat | date : "yyyy"}}</td>
      <button *ngIf="m.type == 'ordinateur'" class="btn btn-success" [routerLink]="['/materiel/edit', m.id]" >Modifier</button>
    </tr>
  </table>
  <hr>
  <table>
      <legend>Salle</legend>
      <tr>
        <th>Code</th>
        <th>Co&ucirc;t</th>
        <th>Nombre de places disponibles</th>
        <th></th>
      </tr>
      <tr *ngFor="let m of listeMateriel">
        <td *ngIf="m.type == 'salle'">{{m.code}}</td>
        <td *ngIf="m.type == 'salle'">{{m.cout}}</td>
        <td *ngIf="m.type == 'salle'">{{m.nbPersonnes}}</td>
        <button *ngIf="m.type == 'salle'" class="btn btn-success" [routerLink]="['/materiel/edit', m.id]" >Modifier</button>
      </tr>
    </table>
    <hr>
    <table>
        <legend>Vid&eacute;o-Projecteur</legend>
        <tr>
          <th>Code</th>
          <th>Co&ucirc;t</th>
          <th></th>
        </tr>
        <tr *ngFor="let m of listeMateriel">
          <td *ngIf="m.type == 'videoprojecteur'">{{m.code}}</td>
          <td *ngIf="m.type == 'videoprojecteur'">{{m.cout}}</td>
          <button *ngIf="m.type == 'videoprojecteur'" class="btn btn-success" [routerLink]="['/materiel/edit', m.id]" >Modifier</button>
        </tr>
      </table>
      <button class="btn btn-info" [routerLink]="['/materiel/edit']">Nouveau Mat&eacute;riel</button>