<h1>Affichage des mati&egrave;res enseign&eacute;es</h1>
<br>
<br>
<div>
	<table class="table">
		<tr>
			<th>Id mati&egrave;re</th>
			<th>Titre</th>
			<th>Dur&eacute;e</th>
			<th>Pr&eacute; requis</th>
			<th>Contenu</th>
			<th>Objectif</th>
			<th></th>
			<th></th>
		</tr>
		<tr *ngFor="let m of listeMatiere">
			<td>{{m.id}}</td>
			<td>{{m.titre}}</td>
			<td>{{m.duree}}</td>
			<td>{{m.prerequis}}</td>
			<td>{{m.contenu}}</td>
			<td>{{m.objectif}}</td>

			<td><button class="btn btn-success"
					[routerLink]="['/matiere/edit', m.id]">Modifier</button></td>
			<td><button class="btn btn-danger" (click)="delete(m.id)">Supprimer</button></td>
		</tr>
	</table>
	<button class="btn btn-info" [routerLink]="['/matiere/edit']">Nouvelle
		mati&egrave;re</button>
	<hr>