<h1>Affichage des Ressources Humaines</h1>
<br>
<div>
	<table>
		<legend>Stagiaires</legend>
		<tr>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Adresse</th>
			<th>Formation</th>
		</tr>
		<tr *ngFor="let r of listeRh">
			<td *ngIf="r.type == 'stagiaire'">{{r.nom}}</td>
			<td *ngIf="r.type == 'stagiaire'">{{r.prenom}}</td>
			<td *ngIf="r.type == 'stagiaire'">Code Postal : {{r.adresse.cp}}
				; Adresse : {{r.adresse.num}} rue {{r.adresse.rue}} &agrave;
				{{r.adresse.ville}} ; Pays {{r.adresse.pays}}</td>
				<td *ngIf="r.type == 'stagiaire'">{{r.formation.id}}</td>

		</tr>
		<td><a href="" (click)="delete(r.id)">supprimer</a></td>
	</table>

</div>
<div>
	<table>
		<legend>Formateur</legend>
		<tr>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Adresse</th>

		</tr>
		<tr *ngFor="let r of listeRh">
			<td *ngIf="r.type == 'formateur'">{{r.nom}}</td>
			<td *ngIf="r.type == 'formateur'">{{r.prenom}}</td>
			<td *ngIf="r.type == 'formateur'">Code Postal : {{r.adresse.cp}}
				; Adresse : {{r.adresse.num}} rue {{r.adresse.rue}} &agrave;
				{{r.adresse.ville}} ; Pays {{r.adresse.pays}}</td>


		</tr>
		<td><a href="" (click)="delete(r.id)">supprimer</a></td>
	</table>
	<a href="" [routerLink]="['/rh/edit']">Creation Formateur</a>
</div>
<div>
	<table>
		<legend>Gestionnaire</legend>
		<tr>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Adresse</th>
		</tr>
		<tr *ngFor="let r of listeRh">
			<td *ngIf="r.type == 'gestionnaire'">{{r.nom}}</td>
			<td *ngIf="r.type == 'gestionnaire'">{{r.prenom}}</td>
			<td *ngIf="r.type == 'gestionnaire'">Code Postal :
				{{r.adresse.cp}} ; Adresse : {{r.adresse.num}} rue {{r.adresse.rue}}
				&agrave; {{r.adresse.ville}} ; Pays {{r.adresse.pays}}</td>
		</tr>
		<td><a href="" (click)="delete(r.id)">supprimer</a></td>
	</table>

</div>
<div>
	<table>
		<legend>Technicien</legend>
		<tr>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Adresse</th>
		</tr>
		<tr *ngFor="let r of listeRh">
			<td *ngIf="r.type == 'technicien'">{{r.nom}}</td>
			<td *ngIf="r.type == 'technicien'">{{r.prenom}}</td>
			<td *ngIf="r.type == 'technicien'">Code Postal :
				{{r.adresse.cp}} ; Adresse : {{r.adresse.num}} rue {{r.adresse.rue}}
				&agrave; {{r.adresse.ville}} ; Pays {{r.adresse.pays}}</td>
		</tr>
	</table>
	<td><a href="" (click)="delete(r.id)">supprimer</a></td>
</div>