<header>
  <nav>
    <ul>
      <li>
        <a href="" routerLink = "/">Dashboard</a>
      </li>
      <li>
        <a href="">Planning</a>
      </li>
      <li>
        <a href="" routerLink ="/matiere">Mati&egrave;res</a>
      </li>
      <li>
        <a href="">Formations</a>
      </li>
      <li>
        <a href="" routerLink="/rh">Ressources Humaines</a>
      </li>
      <li>
        <a href="">Mat&eacute;riel</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer><div>Corporate Projet triple A</div></footer>