<h1>Affichage des formations</h1>
<br>
<br>
<div>
  <table>
    <tr>
      <th>Id du cours</th>
      <th>Date de d&eacute;but du cours</th>
      <th>Date de fin du cours</th>
    </tr>
    <tr *ngFor="let f of listeFormation">
      <td>{{f.id}}</td>
      <td>{{f.dateDebut | date:"dd-MM-yyyy"}}</td>
      <td>{{f.dateFin | date:"dd-MM-yyyy"}}</td>
      <td><button [routerLink]="['/formation/edit, f.id']" >Modifier</button></td>
    </tr>
  </table>
  <button [routerLink]="['/formation/edit']">Nouvelle formation</button>
<hr>